

.foto-acercade1 {height: 50%;}
.foto-acercade2 {height: 30%;
        float: right;
        margin-bottom: 20px;
         }
        
.nombres-acercade {color:#FFB36C;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 200;}

#final-acercade {color:#FFB36C;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    font-weight: 200;}
.tamaño {width: auto;
        height: 200px;}

/*grid y flex de acercade*/
.grid-acerca {display: grid;
          grid-template-columns: 3fr 3fr 3fr;
           grid-row: auto;
            max-height: 100%;
        }
.fundadores {background-color: #4399B3;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            height: 500px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 50px 200px 200px;
            }  
.span {grid-column: span 2;}
