.titulo-market {text-align: center;
    background-color: #FFF4E9;}

.foto-market-1 {width: 80%;
             height: 80%;
             &:hover{transform: scale(1.4,1.4);
             }
            }
.foto-market-2 {width: 80%;
             height: 80%;
             &:hover{transform: scale(1.8,1.8);}
            }
.foto-market-3 {width: 80%;
             height: 80%;
             &:hover{transform: scale(1.4,1.4);
            display: inline-block;
            position: relative;
             right: 30px;}
            }
.fuentes2-mark {color:#FFB36C;
font-family: 'Montserrat', sans-serif;
font-size: large;
font-weight: 200;
}
.fuentes3-mark {color:#FFB36C;
font-family: 'Montserrat', sans-serif;
font-size: medium;
font-weight: 200;
}
.estilo-mark {background-color: #FFE8CF;
border: #FFB36C;
border-style: dashed;
    }
/* grids y flex marketplace*/
.market {display: grid;
grid-template-columns: repeat(3,1fr);
align-items: center;
align-content: center;
text-align: center;
}