@charset "UTF-8";
@import url(../font/static/Montserrat-Black.ttf);
@import url(../font/Montserrat-VariableFont_wght.ttf);
#error {
  font-size: 70px;
  text-align: center;
  background-color: #FFF4E9;
}

.err {
  color: #47a0a3;
}

.img-error {
  text-align: center;
}

.body-error {
  background-color: #F1FAEE;
}

/*variables generales*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

h1 {
  color: #A8DADC;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: xx-large;
  align-content: center;
  text-align: center;
  background-color: #FFF4E9;
}

h2 {
  color: #A8DADC;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: 200;
}

header {
  background-color: #F1FAEE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
}

footer {
  background-color: #F1FAEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #FFF4E9;
}

ul li {
  list-style-type: none;
  display: inline-block;
  margin: 20px 15px 20px 15px;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 15px 15px 20px 15px;
}

.fuentes {
  color: #A8DADC;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
  text-decoration: none;
}
.fuentes:hover {
  color: #2f898d;
  background-color: #a6ede1;
}

.arriba {
  color: #A8DADC;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
}
.arriba:hover {
  color: #2f898d;
}

.presentacion-index {
  color: #4399B3;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
  text-decoration: none;
}

.fotoindex {
  width: 40%;
  height: 40%;
  margin: 2%;
}

#fotoindex1 {
  width: 80%;
  height: auto;
  margin: 3%;
}

#fotoindex2 {
  width: 90%;
  height: auto;
  margin: 3%;
}

#fotoindex3 {
  width: 70%;
  height: auto;
  margin: 3%;
}

.mapa-index {
  width: 100%;
  height: 100%;
}

.subfoto-index {
  color: #4399B3;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
  text-decoration: none;
  justify-content: center;
}

#final-index {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
}

/* grids y flex index*/
.inicios-index {
  display: flex;
  flex-flow: row;
}

.secciones-index {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.titulo-market {
  text-align: center;
  background-color: #FFF4E9;
}

.foto-market-1 {
  width: 80%;
  height: 80%;
}
.foto-market-1:hover {
  transform: scale(1.4, 1.4);
}

.foto-market-2 {
  width: 80%;
  height: 80%;
}
.foto-market-2:hover {
  transform: scale(1.8, 1.8);
}

.foto-market-3 {
  width: 80%;
  height: 80%;
}
.foto-market-3:hover {
  transform: scale(1.4, 1.4);
  display: inline-block;
  position: relative;
  right: 30px;
}

.fuentes2-mark {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
}

.fuentes3-mark {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 200;
}

.estilo-mark {
  background-color: #FFE8CF;
  border: #FFB36C;
  border-style: dashed;
}

/* grids y flex marketplace*/
.market {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
}

.foto-exhibicion-1 {
  width: 80%;
  height: auto;
  margin-left: 7%;
}
.foto-exhibicion-1:hover {
  transform: scale(1.8, 1.8);
  display: inline-block;
  position: relative;
  left: 400px;
}

.foto-exhibicion-2 {
  width: 80%;
  height: auto;
  margin-left: 7%;
}
.foto-exhibicion-2:hover {
  transform: scale(1.8, 1.8);
}

.foto-exhibicion-3 {
  width: 80%;
  height: auto;
  margin-left: 7%;
}
.foto-exhibicion-3:hover {
  transform: scale(1.8, 1.8);
  display: inline-block;
  position: relative;
  right: 400px;
}

.fuente-exhibi {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: 200;
  margin: 40px;
}

/* grids y flex exhibiciones*/
.exhibi {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  align-content: center;
  text-align: center;
}

.grid-exi {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: auto;
}

.foto-art {
  width: 160%;
  height: auto;
  margin: 10px 0px 10px 60px;
}

/*nombres propios*/
.nombres-art {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: 200;
}

.main-art {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-content: center;
}

/*cv*/
.cv-art {
  color: #4399B3;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 200;
}
.cv-art:hover {
  color: #4399B3;
  background-color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 200;
}

/*grid y flex artistas*/
.grid-art {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*Cuando aplico bootstrap se me rompe un poquito entre el h1 y el main. queda una franja blanca que no supe arreglar*/
.contacto {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: medium;
  font-weight: 200;
  margin-bottom: 10px;
}

.datos {
  background-color: #D6FFEC;
  justify-content: center;
  justify-items: center;
  border: #FFB36C;
  border-style: solid;
  padding: 2%;
  margin-top: 20px;
}

.btn {
  background-color: #FFB36C;
  color: #2f898e;
}
.btn:hover {
  background-color: navajowhite;
  color: #2f898e;
}

.btn-submit {
  background-color: #2f898e;
  color: navajowhite;
}

.mapa-cont {
  width: 500px;
  height: 400px;
}

/* grid y flex contacto .......... tiene tambien algo de bootstrap para estilizar formulario--*/
.grid-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.foto-acercade1 {
  height: 50%;
}

.foto-acercade2 {
  height: 30%;
  float: right;
  margin-bottom: 20px;
}

.nombres-acercade {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  font-weight: 200;
}

#final-acercade {
  color: #FFB36C;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  font-weight: 200;
}

.tamaño {
  width: auto;
  height: 200px;
}

/*grid y flex de acercade*/
.grid-acerca {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  grid-row: auto;
  max-height: 100%;
}

.fundadores {
  background-color: #4399B3;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 200px 200px;
}

.span {
  grid-column: span 2;
}

/*responsive index*/
@media (max-width: 576px) {
  .fuentes {
    font-size: xx-small;
    align-items: center;
    align-content: center;
    display: inline-block;
    width: 58px;
  }
  header {
    display: flex !important;
  }
  .nav-header {
    margin: auto 7px auto 7px;
  }
  .fuentes:hover {
    color: #2f898d;
    background-color: #a6ede1;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
    font-weight: 200;
    text-decoration: none;
  }
  .arriba {
    color: #A8DADC;
    font-family: "Montserrat", sans-serif;
    font-size: xx-small;
    font-weight: 200;
  }
  .arriba:hover {
    color: #2f898d;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
    font-weight: 200;
    text-decoration: none;
  }
  .fotoindex {
    display: block;
    width: 80%;
    height: 80%;
    margin: 50px;
  }
  .inicios-index {
    display: inline-block;
  }
  .secciones-index {
    display: block;
  }
  /*responsive artistas-- con grillas de bootstrap en el html para responsive en main, se me rompe el h1 con una franja blanca ...no pude acomodar bien el header*/
  .header-art {
    display: flex;
    flex-direction: row;
    align-content: start;
  }
  .logo-art {
    width: 70px;
    height: 70px;
    margin: 15px 0px 15px 15px;
  }
  .foto-art {
    width: 70%;
    height: auto;
    margin: 10px 0px 10px 60px;
  }
  .nombres-art {
    font-size: small;
  }
  /*responsive market*/
  .foto-market-responsive {
    width: 80%;
    height: 80%;
  }
  .foto-market-responsive:hover {
    transform: none;
  }
  .fuentes2-mark {
    color: #FFB36C;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 200;
  }
  .fuentes3-mark {
    color: #FFB36C;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    font-weight: 200;
  }
  .estilo-mark {
    background-color: #FFE8CF;
    border: #FFB36C;
    border-style: dashed;
  }
  .market {
    display: flex;
    flex-direction: column;
  }
  /*responsive exhibiciones*/
  .foto-exhibicion-responsive {
    width: 70%;
    height: auto;
    margin: 7%;
  }
  .foto-exhibicion-responsive:hover {
    transform: scale(1.3, 1.3);
    display: inline-block;
    position: relative;
    left: 0;
  }
  .exhibi {
    display: flex;
    flex-direction: column;
  }
  /*responsive contacto- me queda un poco raro el header tambien como sucedio en artistas... ya tienen aplicado bootstrap*/
  .header-cont {
    display: flex;
    flex-direction: row;
    align-content: start;
    padding: 0%;
    justify-items: left;
    margin: 0%;
  }
  .mapa-cont {
    width: 200px;
    height: 400px;
  }
  /*responsive acerca de*/
  .grid-acerca {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-height: 1400px;
  }
  .foto-acercade1 {
    height: 70%;
  }
  .foto-acercade2 {
    height: 30%;
    float: left;
    margin: 25px;
  }
  #final-acercade {
    color: #FFB36C;
    font-family: "Montserrat", sans-serif;
    font-size: large;
    font-weight: 200;
    margin: 20px;
  }
  .no-acercade {
    margin: 5px;
  }
  .tamaño {
    width: auto;
    height: 200px;
  }
  .footer-resp-acerca-de {
    bottom: 0%;
    width: 100%;
    position: absolute;
    top: 1500px;
    height: 80px;
  }
  .fondo-acerca-de {
    background-color: #FFF4E9;
    height: 65%;
  }
}
/*----aplique animacion en exhibiciones y en marketplace
  ----anide todos los hover y especifidades de etiquetas
 ---- aplique el mixin en los botones de contactos
 ---- cambie todas las etiquetas para que se relacionen con su html y se ubiquen facilmente
 ---- todos los html tienen diferente tittle, description y keywords
 --- complete los lorem que habia
 ---aplique reset
 --- dividi todo en partials inclusive puse los que vimos en clase pero no era necesario aplicra
 --- todos los link funcionan incluso los que me llevan a otras paginas con atributo targuet _blank
 --- full responsive
 */

/*# sourceMappingURL=styles.css.map */
